<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit_etland.web.mapper.CustomerMapper">
  <select id="selectCustomer" resultType="com.bit_etland.web.domain.CustomerDTO">
    SELECT * FROM CUSTOMER WHERE CUSTOMER_ID LIKE #{CustomerID}
  </select>
    <insert
		  id="insertCustomer"
		  parameterType="com.bit_etland.web.domain.CustomerDTO"
		  flushCache="true"
		  statementType="PREPARED"
		  timeout="20">
		   INSERT INTO CUSTOMERS (CUSTOMER_ID,
        						 CUSTOMER_NAME,
        						 PASSWORD,
        						 SSN,
        						 PHONE,
        						 PHOTO,
        						 CITY,
        						 ADDRESS,
        						 POSTALCODE)
        					values (#{customerID},
           						 #{customerName},
           						 #{password},
           						 #{ssn},
           						 #{phone},
           						 #{photo},
           						 #{city},
           						 #{address},
           						 #{postalcode}
	</insert>
    <update
		  id="updateCustomer"
		  parameterType="com.bit_etland.web.domain.CustomerDTO"
		  flushCache="true"
		  statementType="PREPARED"
		  timeout="20">>
		  UPDATE CUSTOMERS SET CUSTOMER_ID = #{customerID},
						 CUSTOMER_NAME = #{CUSTOMER_NAME},
						 PASSWORD = #{PASSWORD},
						 PHONE = #{PHONE},
						 PHOTO = #{PHOTO},
						 CITY = #{CITY},
						 ADDRESS = #{ADDRESS},
						 POSTALCODE = #{POSTALCODE}
								WHERE CUSTOMERS IN (CUSTOMER_ID, #{customerID}),
													(CUSTOMER_NAME, #{CUSTOMER_NAME}),
													(PASSWORD, #{PASSWORD}),
													(PHONE, #{PHONE}),
													(PHOTO, #{PHOTO}),
													(CITY, #{CITY}),
													(ADDRESS, #{ADDRESS}),
													(POSTALCODE, #{POSTALCODE})
	</update>
  <delete
		  id="deleteCustomer"
		  parameterType="com.bit_etland.web.domain.CustomerDTO"
		  flushCache="true"
		  statementType="PREPARED"
		  timeout="20"></delete>
</mapper>